.row {
    padding-top:10px;
    padding-bottom:10px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    font-family: 'Do Hyeon', sans-serif;
}


/* Disable Link Decoration */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* NavBar */

@media only screen and (max-width: 856px) {
    .hidden {
        display: none;
    }
}

.brand {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 50px !important;
    color: #000000;
}

.navbar-section {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1f7c16;
}

.navbar-section a:hover {
    color: white;
}


/* Header */
.header-section {
    background-color: #313235;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-section h1 {
    color: #1f7c16;
    margin-top: 0px;
}
.header-section h3 {
    color: #1f7c16;
}

/* Profile */
.profile-section {
    background-color: #1f7c16;
    padding-bottom:30px;
    padding-top:30px;
}

.profile-section img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}