.vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    padding-top:10px;
    padding-bottom:10px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    background-color: #313235;
    font-family: 'Do Hyeon', sans-serif;
}



/* Disable Link Decoration */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* NavBar */

@media only screen and (max-width: 930px) {
    .hidden {
        display: none;
    }
}

.brand {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 40px !important;
    color: #1f7c16;
}

.navbar-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #313235;
}

.navbar-section a {
    color: white;
}

.navbar-section a:hover {
    color: white;
}

.header-section h3 {
    color: white;
}


/* Header */
.header-section {
    background-color: #1f7c16;
    padding-bottom:30px;
    padding-top:30px;
}
.header-section h1, h3 {
    color: #313235;
    margin-top: 0px;
}

.card-container {
    perspective: 800px;
}

#card-1 {
    transform-style: preserve-3d;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform 1s;
}

#card-1 div {
    backface-visibility: hidden;

    -webkit-backface-visibility: hidden
}


/* Profile */
.profile-section {
    background-color: #313235;
    padding-bottom:30px;
    padding-top:30px;
}

.profile-section img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.profile-section p {
    color: white;
}

.img-col  {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Social Section */
.social-section {
    background-color: #1f7c16;
}